<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>dev.trevin.cobrowser.auth</string>
  <key>CFBundleName</key>
  <string>cobrowser</string>
  <key>CFBundleDisplayName</key>
  <string>cobrowser</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleExecutable</key>
  <string>cobrowser-auth</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleIconFile</key>
  <string>cobrowser</string>
  <key>LSUIElement</key>
  <true/>
</dict>
</plist>
